@model TestMaker.Models.ViewModels.TestViewModel

@{ 
    var test = new Test
    {
        Title = ViewData["Title"].ToString(),
        Number = Int32.Parse(ViewData["Number"].ToString())
    }; 
}

<h1>Create Test</h1>
<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tests.Title" value="@test.Title" />
            <input type="hidden" asp-for="Tests.Number" value="@test.Number" />
            @for (var q = 0; q < @test.Number; q++)
            {
                <div class="form-group">
                    <label asp-for="Tests.Questions[q].QuestionText" class="control-label">Question @(q + 1)</label>
                    <input asp-for="Tests.Questions[q].QuestionText" class="form-control" />
                    <span asp-validation-for="Questions[q].QuestionText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @for (var i = 0; i < 4; i++)
                    {
                        <label asp-for="Tests.Questions[q].Choices[i].ChoiceText" class="control-label">ChoiceText @(i + 1)</label>
                        <div class="form-inline">
                            <input asp-for="Tests.Questions[q].Choices[i].ChoiceText" class="form-control" />
                            @Html.CheckBoxFor(
                                model => model.Tests.Questions[q].Choices[i].IsAnswer,
                                new { @class = "ml-2" }
                            )
                        </div>
                    }
                    <span asp-validation-for="Tests.Questions[q].Choices" class="text-danger"></span>
                </div>
                <hr />
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>