@model TestMaker.Models.ViewModels.TestViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Tests.Title</h1>

<div>
    <div class="row">
        @if (ViewData["Score"] != null) 
        { 
            <input id="Score" type="hidden" value="Result" />
        }
        @if (Model.Tests.UserId == int.Parse(@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value))
        {
            <div class="col-md-1 col-sm-2 col-2">
                @Html.ActionLink(
                    "Edit",
                    "Edit",
                    "Test",
                    new { id = Model.Tests.TestId },
                    new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-1 col-sm-2 col-2">
                @Html.ActionLink(
                    "Delete",
                    "Delete",
                    "Test",
                    new { id = Model.Tests.TestId },
                    new { @class = "btn btn-danger" })
            </div>
        }
    </div>
    <hr />
    @using (Html.BeginForm(
       "Score",
       "Test",
       new { id = Model.Tests.TestId },
       FormMethod.Post))
    {
        <input type="hidden" asp-for="Tests.UserId" />
        <input type="hidden" asp-for="Tests.TestId" />
        <input type="hidden" asp-for="Tests.Number" />
        @for (var q = 0; q < Model.Tests.Number; q++)
        {
            <input type="hidden" asp-for="Tests.Questions[q].QuestionId" />
            <div class="container">
                <div class="mt-4 mb-1">
                    @(q + 1). @Html.DisplayFor(model => model.Tests.Questions[q].QuestionText)
                </div>
                <div class="mb-2">
                    @if (Model.Choices
                        .Where(o => o.QuestionId == Model.Tests.Questions[q].QuestionId)
                        .Count(o => o.IsAnswer) > 1)
                    {
                        <div>
                        @for (var i = 0; i < 4; i++)
                        {
                                <input type="hidden" asp-for="Tests.Questions[q].Choices[i].ChoiceId" />
                                <div>
                                    @Html.CheckBoxFor(
                                        model => model.Tests.Questions[q].Choices[i].IsUsersAnswerCheck
                                    )
                                    @Html.DisplayFor(model => Model.Tests.Questions[q].Choices[i].ChoiceText)
                                </div>
                        }
                        </div>
                    }
                    else
                    {
                        <div class="data-single">
                            @for (var i = 0; i < 4; i++)
                            {
                                <div>
                                    <input type="radio" asp-for="Tests.Questions[q].Choices[0].IsUsersAnswerRadio" value="@Model.Tests.Questions[q].Choices[i].ChoiceId" />
                                    @Html.DisplayFor(model => Model.Tests.Questions[q].Choices[i].ChoiceText)
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            @if(ViewData[Model.Tests.Questions[q].QuestionId.ToString()] != null)
            {
                <div class="text-danger">@ViewData[Model.Tests.Questions[q].QuestionId.ToString()]</div>
            }
        }
        <div class="row mt-2 ml-1">
            <input type="submit" value="Score the test" class="btn btn-primary col-4 col-md-2" />
            @if (ViewData["CorrectCount"] != null)
            {
                <div class="align-items-center d-flex col-2 text-danger">@ViewData["CorrectCount"] / @Model.Tests.Number Correct!!</div>
            }
        </div>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{ 
    <script>
        if ($('#Score').length == 0) {
            $('.data-single > div > input').map((_, v) => {
                v.checked = false;
            });
        }
    </script>
}