@model TestMaker.Models.ViewModels.UserTestViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tests.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests.FirstOrDefault().UpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tests) 
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TestId">@item.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedTime)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="User" asp-route-id="@item.UserId">@Model.User.UserName</a>
                </td>
            </tr>
        }
    </tbody>
</table>
