@model IEnumerable<TestMaker.Models.Test>

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdatedTime)
            </th>
            <th>
                @Html.DisplayName("Creator")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TestId">@item.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedTime)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="User" asp-route-id="@item.UserId">@item.User.UserName</a>
                </td>
            </tr>
        }
    </tbody>
</table>
